*.o
Makefile
autom4te.cache/
config.guess*
config.h
config.log
config.status
config.sub*
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/sudosh2.debhelper.log
debian/sudosh2.substvars
debian/sudosh2/
src/.deps/
src/sudosh
src/sudosh-replay
src/sudosh.conf
stamp-h1
sudosh-replay.8
sudosh.1
sudosh.conf.5
