Source: sudosh2
Section: admin
Priority: optional
Maintainer: Max Mazur <mmaxur@mirantis.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Homepage: https://github.com/squash/sudosh2
Vcs-Git: git://github.com/squash/sudosh2.git
Vcs-Browser: https://github.com/squash/sudosh2

Package: sudosh2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: sudosh is an auditing shell filter and can be used as a login
 shell. Sudosh records all keystrokes and output and can play back the session
 as just like a VCR. Sudosh2 is a continuation of the development of sudosh.
